{% assign mailto_url = 'mailto:?subject=I want you to see this article ' | append: page.title | append: '&body=' | append: page.title | append: ' by ' | append: site.author | append: ' - ' | append: site.url | append: page.url %}
<a class="mailto" href="{{ mailto_url | uri_escape }}" title="Share by Email">
  <i class="fa fa-envelope-open-o"></i> Mail
</a>
{% assign twitter_url = 'https://twitter.com/intent/tweet?text=' | append: page.title | append: ' by @' | append: site.twitter_username | append: ' - ' | append: site.url | append: page.url %}
<a class="twitter" href="{{ twitter_url | uri_escape }}" title="Share by Twitter">
  <span class="icon-twitter"> Tweet</span>
</a>
<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;" title="Share by facebook"><span class="icon-facebook-rect"> Share</span>
</a>
<a class="googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share by Google Plus">
<i class="fa fa-google"></i> Google+
</a>
